@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
  scroll-margin-top: 5rem;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
  color: #555;
  max-width: 30rem;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
}

header > figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  margin-left: 2rem;
  background-color: #fff;
  border-radius: .3rem;
}

header #logo {
  font-weight: 900;
  text-transform: uppercase;
  white-space: nowrap;
  color: #777;
}

header > nav {
  position: relative;
  width: 4rem;
  height: 4rem;
}

#header-menu-button {
  width: inherit;
  height: inherit;
  background-color: rgb(75, 70, 255);
  cursor: pointer;
}

#header-menu-button > .btn-line {
  position: absolute;
  width: 2.5rem;
  height: .2rem;
  background-color: #dddfff;
  transition: .2s;
  visibility: visible;
  opacity: 1;
}

#header-menu-button > .btn-line:nth-of-type(1) {
  top: 25%;
  left: 50%;
  transform: translateX(-50%)
}

#header-menu-button > .btn-line:nth-of-type(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header-menu-button > .btn-line:nth-of-type(3) {
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}

#header-menu-button > .btn-line:nth-of-type(1).oblique-line-dw {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

#header-menu-button > .btn-line:nth-of-type(2).erase {
  visibility: hidden;
  opacity: 0;
}

#header-menu-button > .btn-line:nth-of-type(3).oblique-line-up {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

header .link-menu {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 100vw;
  height: calc(100vh - 4rem);
  padding-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1;
  background-color: #aaa;
  transform: translateX(100%);
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
}

header .link-menu.active {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

header .link-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

header .link-menu li {
  width: 80%;
  text-align: center;
}

header .link-menu li:not(:last-of-type) {
  border-bottom: 1px solid #777;
}

header .link-menu li:last-of-type {
  /* こちらでも、margin, paddingどちらも効かない
    margin-bottom: 3rem;
    padding-bottom: 3rem; */
}

header .link-menu a {
  display: block;
  padding: 1rem 0;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  width: 100%;
  height: 200vh;
  margin: 0 auto;
  background-color: #eee;
}