@chrset "UTF-8"

// font
$noto: "Noto Sans JP", sans-serif
$jost: "Jost", sans-serif

// color
$bg-color: #0f1111
$black:#5A5A5A
$black-middle:  #c7c7c7
$black-light:  #dfdfdf
$gray-light: #F0F0F0
$orange-gray-light: #F8F8F8
$orange: #F87700
$blue: #3049c4

:root 
  font-size: 93.75% // => 15px
  scroll-behavior: smooth
  body
    font-family: $noto, Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Hiragino Sans", "メイリオ", "Meiryo", sans-serif
    line-height: 1  
    .mask
      display: flex
      justify-content: center
      align-items: center
      position: fixed
      top: 0
      left: 0
      width: 100vw
      height: 100vh
      background-color: rgba(0, 0, 0, .6)
      transition: .3s
      visibility: hidden
      opacity: 0
      &.active
        visibility: visible
        opacity: 1
      .modal
        width: min(40%, 1000px)
        padding: 30px 0
        text-align: center
        background-color: #fff
        border-radius: 10px
        .modal-title
          margin-bottom: 20px
          font-size: 30px
          font-weight: 900
        .modal-next-btn
          padding: 10px 20px
          font-weight: 900
          color: #fff
          background-color: green
          border-radius: 5px
          &.hidden
            display: none
    main
      width: min(100%, 700px)
      margin: 50px auto
      padding: 20px
      background-color: #ddd
      border-radius: 20px
      section
        padding: 20px
        background-color: #fff
        border-radius: 20px
        + section
          margin-top: 20px
        h2
          font-size: 1.2rem
          font-weight: 900
          text-align: center
          text-transform: uppercase
        .hp-gauge
          margin-top: 10px
          border: 1px solid #eee
          .hp-gauge-value
            width: 100%
            height: 15px
            background-color: blue
            border: unset
            transition: .3s
        > ul
          display: flex
          justify-content: center
          margin-top: 15px
          li:first-of-type::after
            content: "／"
            margin: 0 5px
        .player-status
          .killedNumbers
            display: flex
            justify-content: flex-end
            div:last-of-type:before
              content: '／'
              margin: 0 5px
        ul.logs
          display: flex
          flex-direction: column
          justify-content: flex-start
          height: 250px
          padding: 10px 15px
          font-size: 16px
          line-height: 1.8
          border: 1px solid #eee
          box-shadow: 0 0 20px #eee inset
          overflow: auto
          li:first-of-type::after
            content: ""
            margin: 0
        > .attack
          display: grid
          place-content: center
          width: 50%
          height: 50px
          margin: 20px auto 0
          font-size: 1.1rem
          font-weight: 900
          border-radius: 10px
          color: #fff
          background-color: $orange
          &.de-active
            pointer-events: none
            opacity: .5
